.button {
    border: 1px solid #3700B3;
    border-radius: 4px;
    background-color: #018786;
    color: #fff;
    text-align: center;
}

.button-large {
    width:200px;
    padding: 4px 6px;
}

.button-medium {
    width: 150px;
    padding: 4px 6px;
}

.button-small {
    width: 100px;
    padding: 4px 6px;

}

.button-round {
    border-radius: 50%;
    width: 20px;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    background-color: #3700B3
}