.btn {
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

.btn-primary {
    background-color: #EF8823;
    border: 1px solid #ED8823;
}

.btn-large {
    width:200px;
    padding: 4px 6px;
}

.btn-add {
    background: transparent;
    border:none;
    position: absolute;
    right:0;
    color: green;

}

.btn-medium {
    width: 150px;
    padding: 4px 6px;
}

.btn-small {
    width: 100px;
    padding: 4px 6px;

}

.btn-round {
    border-radius: 50%;
    width: 20px;
    font-weight: bold;
}
.btn-inline{
    display: inline-block;
}

.btn-primary:hover{
    background-color: #CD6E0F;
    border: 1px solid #CD6E0F;

}

.btn:hover {
    cursor: pointer;
}